<h1>My Jobs</h1>

<div class="row">
    <div class="col-md-8">
        <% @jobs.each do |job| %>
            <div class="media">
                <%= render job %>
            </div>
        <% end %>
    </div>
    <% if current_user %>
        <div class="col-md-4">
            <%= link_to "New job", new_job_path(@job), class: 'btn btn-creth' %>
        </div>
    <% end %>
</div>