<%= form_tag charges_path do %>
   <h1>Upgrade to Premium!</h1>
   <div class="row">
    <div class="col-md-4">
        <p>Why Upgrade?</p>
        <ul>
            <li>Create and access premium wikis</li>
            <li>Help pay for dev team's ramen and coffee</li>
            <li>All this, for just a one-time payment of $15</li>
        </ul>
    </div>
</div>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>